{%extends "main/Menu.html"%}

{%block body%}


<div class="card border-primary mb-3" >
    <div class="card-header text-center">Todos</div>
    <div class="card-body text-center">
        
        {% if user.is_authenticated%}

 
        <h3>{{ ls.name }}</h3>
        <form action="#" method="post" class="form-group">
            
            
            {% csrf_token %}
            <ul>
                {% for item in ls.item_set.all %}
                    <li>
                        <input type="checkbox" name="c{{ item.id }}" {% if item.complete %}checked{% endif %}>
                        {{ item.text }} - {% if item.complete %}COMPLETE{% else %}INCOMPLETE{% endif %}
                    </li>
                {% endfor %}
            </ul>
            <button type="submit" name="save" value="save">save</button>
            <input type="text" name="new">
            <button type="submit" name="newitem" value="newitem">ADD</button>
        </form>
     
    {% else %}
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Plz login or register to continue</strong> <a href="{%url 'login' %}" class="alert-link">Login</a> 
      </div>
    {% endif %}
    
    
    </div>
       
    


</div>







{%endblock%}